.card-container {
  border: 3px solid darkgray;
  width: 50%;
  margin: auto;
  height: auto;
  box-shadow: azure;
}
.card-container-inner {
  margin: 3rem;
}
.options {
  background-color: #f5f5f5;
  color: #a3a3a3;
  font: 16px !important;
  font-weight: 400;
  padding: 12px;
  border-radius: 7px;

  display: inline-flex;
  margin-left: 28px;
  width: 30%;
  margin-top: 19px;
  cursor: pointer;
  justify-content: center;
}
.options:hover {
  background-color: black;
  color: #a3a3a3;
}
.nextbtn {
  padding: 10px;
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
  border-radius: 9px;
  margin-bottom: 25px;
}
